[Unit]
Description=Disco - Massive Data Minimal Code

[Service]
# User is optional depending on your installation
# User=disco
Environment="SYSTEMD_ENABLED=True"
ExecStart=/usr/bin/disco nodaemon

[Install]
WantedBy=multi-user.target
