[submodule "contrib/java-ext"]
	path = contrib/java-ext
	url = https://github.com/ryan-maus/disco-java-ext.git
[submodule "contrib/odisco"]
	path = contrib/odisco
	url = https://github.com/pmundkur/odisco.git
[submodule "contrib/discodb"]
	path = contrib/discodb
	url = https://github.com/discoproject/discodb.git
[submodule "contrib/discodex"]
	path = contrib/discodex
	url = https://github.com/discoproject/discodex.git
