Source: disco
Section: admin
Priority: extra
Maintainer: Ville Tuulos <ville.h.tuulos@nokia.com>
Build-depends: debhelper (>= 7), python-support (>= 0.5.3), erlang-dev (>= 1:13.b-dfsg1), erlang-nox (>= 1:13.b-dfsg1), python-all-dev, gcc, libcmph-dev (>= 0.9)
Standards-Version: 3.7.3
Homepage: http://www.discoproject.org

Package: python-disco
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python (>= 2.6)
Recommends: python-pycurl
Description: Disco client
 This is Disco client.

Package: python-discodb
Architecture: amd64
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python (>= 2.6), libcmph0 (>= 0.9)
Description: DiscoDB
 This is DiscoDB.

Package: disco-node
Architecture: all
Depends: ${misc:Depends}, adduser, erlang-base (>= 1:13.b-dfsg1), erlang-nox (>= 1:13.b-dfsg1)
Description: Disco node
 This is Disco node.

Package: disco-master
Architecture: all
Depends: ${misc:Depends}, python-disco (= ${source:Version})
Description: Disco master
 This is Disco master.

