#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE = 1

PKGDIR = $(CURDIR)/debian
D_MAKE = $(MAKE) -C .. UNAME=Debian PY_INSTALL_OPTS="--install-layout=deb --no-compile"

%:
	dh $@ --with-python2

override_dh_auto_install:
	$(D_MAKE) install-master   DESTDIR=$(PKGDIR)/disco-master
	$(D_MAKE) install-node     DESTDIR=$(PKGDIR)/disco-node
	$(D_MAKE) install-core     DESTDIR=$(PKGDIR)/python-disco
	$(D_MAKE) install-discodb  DESTDIR=$(PKGDIR)/python-discodb
