# Django settings
import os

PROJ_ROOT = os.path.dirname(globals()["__file__"])
PROJ_NAME = os.path.basename(PROJ_ROOT)

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('Jared Flatow', 'jared.flatow@nokia.com'),
    ('Ville Tuulos', 'ville.h.tuulos@nokia.com'),
)

MANAGERS = ADMINS

DATABASE_ENGINE   = ''
DATABASE_NAME     = '%s' % PROJ_NAME
DATABASE_USER     = ''
DATABASE_PASSWORD = ''
DATABASE_HOST     = ''
DATABASE_PORT     = ''

# Local time zone for this installation. All choices can be found here:
# http://www.postgresql.org/docs/8.1/static/datetime-keywords.html#DATETIME-TIMEZONE-SET-TABLE
TIME_ZONE = 'America/Los_Angeles'

# Language code for this installation. All choices can be found here:
# http://www.w3.org/TR/REC-html40/struct/dirlang.html#langcodes
# http://blogs.law.harvard.edu/tech/stories/storyReader$15
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = False

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = '%s/media' % PROJ_ROOT

# URL that handles the media served from MEDIA_ROOT.
# Example: "http://media.lawrence.com"
MEDIA_URL = '/media/'

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/admin/media/'

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'gdas%s(ia809u@g_*4spdjfgpoisdjnmn-9203-8498-09usdvnb=00aaavmlbJ:NLJ-%spr-332-)fy' % (PROJ_NAME, PROJ_ROOT)

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.load_template_source',
    'django.template.loaders.app_directories.load_template_source',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
)

ROOT_URLCONF = '%s.urls' % PROJ_NAME

TEMPLATE_CONTEXT_PROCESSORS = (
    'django.core.context_processors.media',
    'django.core.context_processors.request',
)

TEMPLATE_DIRS = ()

INSTALLED_APPS = (
    'django.contrib.contenttypes',
    '%s' % PROJ_NAME,
)
