from discodex.settings import (PROJ_NAME,
                               DEBUG,
                               TEMPLATE_DEBUG,
                               MIDDLEWARE_CLASSES,
                               CACHE_BACKEND,
                               CACHE_MIDDLEWARE_SECONDS,
                               CACHE_MIDDLEWARE_KEY_PREFIX,
                               ROOT_URLCONF,
                               TEMPLATE_CONTEXT_PROCESSORS,
                               TEMPLATE_DIRS,
                               INSTALLED_APPS)
