/* General */

body {
    background: #ffffff;
    color: #000000;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    line-height: 1.8em;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #4c8f13;
}

input {
    border: 1px solid #aaa;
}

#ft {
    color: #999;
    font-size: 80%;
}

#hd {
    height: 110px;
}

#hd #title {
    font-size: 250%;
    width: 40%;
    margin-top: 50px;
    float: left;
}

#hd #title span {
    color: #8f138b;
}

#hd #logo {
    width: 30%;
    text-align: right;
    float: right;
}

#hd img {
    margin-right: 100px;
}

.control {
    color: #8f138b;
    font-size: 120%;
    margin-left: 10px;
    clear: right;
}

.control a {
    margin-right: 20px;
}

/* Nodes */

.nodebox {
    width: 15em;
    height: 6em;
    border: 1px solid #666;
    float: left;
    margin: 10px;
}

.blacklisted {
    background: #ccc;
}

.nodebox .title {
    background: #333;
    color: white;
    padding-left: 5px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.nodebox .disconnected {
    background: #CC3300;
}

.nodebox .status {
    height: 1em;
    border-bottom: 1px solid #000;
}

.nodebox .status .jbox {
    height: 1em;
    width: 1em;
    background: #B280FF;
    border-right: 1px solid #000;
    float: left;
}

.nodebox .status .busy {
    background: #FFDE00;
    cursor: pointer;
}

.nodebox .status .show_jbox {
    background: #BFFFD9;
}

.nodebox .disk {
    height: 1em;
    background: #fef7b8;
    border-bottom: 1px solid black;
}

.nodebox .disk .used {
    height: 100%;
    border-bottom: 0px;
    border-right: 1px solid black;
    background: #bdfc7d;
    line-height: 110%;
    font-size: 85%;
    color: #333;
}

.nodebox .val {
    height: 2.1em;
    width: 33%;
    float: left;
    text-align: center;
}

.nodebox .lval {}

.nodebox .mval {
    width: 32%;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.nodebox .rval{}


/* Job List */

#joblist {
    border: 1px solid #666;
    text-align: center;
    margin-right: 10px;
    padding-bottom: 10px;
}

#joblist input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

#jobs {
    text-align: left;
    height: 500px;
    overflow: auto;
}

#joblist .job {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#joblist .job .live {
    width: 1em;
    height: 1.4em;
    border: 1px solid #000;
    margin-right: 5px;
    float: left;
}

#joblist .job .active {
    background: #FFDE00;
}

#joblist .job .dead {
    background: #FF9280;
}

#joblist .job .ready {
    background: #00BA4B;
}


/* Job Detail */

.job .infobox {
    width: 20em;
    height: 14em;
    border: 1px solid #666;
    float: left;
    margin: 10px;
}

.job .infobox > .title {
    background: #333;
    color: white;
    padding-left: 5px;
}

.job .infobox > .body {
    padding: 5px;
    height: 11.3em;
    overflow: auto;
}

.job .infobox .val {
    font-weight: normal;
}

.job .infobox table .title {
    font-size: 80%;
}

.job .infobox table {
    width: 100%;
    background: #eee;
}

.job .infobox .redundant {
    margin-left: 15px;
    color: #666;
}

.job .events {
    padding-top: 20px;
    margin: 10px;
    clear: left;
    width: 100%;
}

.job .event_nav {
    clear: left;
    font-size: 90%;
    width: 100%;
    margin-left: 10px;
}

.job .event_nav a {
    margin-right: 10px;
}

.job .event {
    width: 90%;
}

.job .event .warning {
    background: #FFF7BF;
}

.job .event .error {
    background: #FFC9BF;
}

.job .event .ready {
    background: #BFFFD9;
}

.job .event .tstamp {
    font-weight: bold;
    padding: 2px;
    background: #eee;
    display: inline;
}

.job .event .node {
    font-weight: bold;
    color: #8f138b;
    padding: 2px;
    background: #eee;
    cursor: pointer;
    display: inline;
}

.job .event .locked {
    background: #BFFFD9;
}

.job .event .text {
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
}

.job .event .text pre {
    margin-left: 10px;
}


/* Config */

.confbox {
    float: left;
    margin: 10px;
    border: 1px dotted #666;
    padding: 15px;
    min-width: 20em;
    min-height: 10em;
}

.config_table td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #666;
}

.config_table thead {
    background: #333;
    color: white;
    padding-left: 5px;
}

.config_table #nodecolumn {
    width: 13em;
}

h3 {
    font-size: 150%;
    color: #8f138b;
    margin-bottom: 10px;
}


.confbox #jobname {
    margin-top: 10px;
    width: 98%;
}

#blacklist .bnode {
    margin-top: 2px;
    background: #eee;
}

#max_failures {
    border: 1px solid #aaa;
    width: 4em;
}

table td input {
    background: #eee;
}

#gcinfo {
    margin-top: 50px;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gcinfo h3 {
    text-align: left;
}

#gcstats {
    text-align: left;
}

.gcstats_table td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #666;
}

.gcstats_table thead {
    background: #333;
    color: white;
    padding-left: 5px;
}

.gcstat td {
    text-align: right;
}

#gc_blacklist .bnode {
    margin-top: 2px;
    background: #eee;
}

#gc_blacklist .bnode_safe {
    background: #6e6;
}
