{eunit_compile_opts, [debug_info, fail_on_warning,
                      {platform_define, "^[0-9]+", namespaced_types},
                      {platform_define, "^(18|19|2\d+|\d{3,})", time_correction}]}.
{cover_enabled, true}.
{deps,
 [{mochiweb, "",
   {git, "https://github.com/discoproject/mochiweb.git", {branch,
                                                             "discoproject"}}},
 {triq, ".*",
   {git, "https://github.com/krestenkrab/triq.git", "master"}}]}.
