{eunit_compile_opts, [debug_info, fail_on_warning]}.
{cover_enabled, true}.
{deps,
 [{mochiweb, "",
   {git, "https://github.com/discoproject/mochiweb.git", {branch,
                                                             "discoproject"}}},
 {triq, ".*",
   {git, "https://github.com/krestenkrab/triq.git", "master"}}]}.
