{erl_opts,
 [debug_info, warn_missing_spec, warnings_as_errors, nowarn_deprecated_type,
  {parse_transform, lager_transform},
  {platform_define, "^[0-9]+", namespaced_types}
]}.
{deps,
[{lager, "2.0.3",
   {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {folsomite, "",
      {git, "https://github.com/discoproject/folsomite", {branch, "master"}}},
  {plists, "",
      {git, "https://github.com/discoproject/plists", {branch, "master"}}},
  {mochiweb, ".*",
   {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.9.2"}}}]}.
{xref_checks,
 % Remove 'exports_not_used' from default xref_checks since lager trips it.
 [undefined_function_calls]}.
