{erl_opts,
 [debug_info, warn_missing_spec, warnings_as_errors, {parse_transform, lager_transform}]}.
{deps,
 [{lager, "1.0.0",
   {git, "git://github.com/basho/lager.git", {tag, "1.0.0"}}},
  {mochiweb, "",
   {git, "https://github.com/discoproject/mochiweb.git", {branch, "implement-max-conns"}}}]}.

