{erl_opts,
 [debug_info, warn_missing_spec, warnings_as_errors, {parse_transform, lager_transform}]}.
{deps,
 [{lager, "(2.0|1.0|1.2).*",
   {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {lager_syslog, "",
   {git, "git://github.com/basho/lager_syslog", {branch, "master"}}},
  {mochiweb, "",
   {git, "https://github.com/discoproject/mochiweb.git", {branch, "implement-max-conns"}}}]}.