<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>
  {% block title %}
  {% if title %}{{ title|escape }} | {% endif %} discodex
  {% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/base.css" />
{% block extrastyle %}{% endblock extrastyle %}
{% block extrahead %}{% endblock extrahead %}
</head>

<body class="default">

{% block container %}
<div id="container" class="container">
    {% block header %}
    <div id="header" class="header">
      <span id="site-name" class="site-name">&nbsp;&nbsp;<a href="{% url home %}">discodex</a></span>
    </div>
    {% endblock header %}

    {% block main %}
    <div id="main" class="main">
      {% block content %}{% endblock content %}
    </div>
    {% endblock main %}

    {% block footer %}
    <div id="footer" class="footer">&copy; 2009 <a href="http://research.nokia.com">Nokia Research Center</a></div>
    {% endblock %}
</div>
{% endblock container %}

</body>
</html>
